@charset "UTF-8";

/* Ajustes gerais para garantir que a página fique limpa e agradável */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ajuste de fontes e espaçamento */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Cor de fundo suave */
    padding-top: 50px; /* Espaçamento superior para a página não colar no topo */
}

/* Estilo do cabeçalho */
header {
    margin-bottom: 30px;
    user-select: none;
}
/* Estilo para o container principal */
.container {
    max-width: 500px ; /* Largura limitada para o formulário */
    min-width: 350px;
    margin: auto; /* Centraliza o formulário */
    background-color: white; /* Cor de fundo do formulário */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilização para o formulário */
form {
    width: 100%;
}

label{
    user-select: none;
}

/* Estilização dos campos do formulário */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"] {
    padding: 5px 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    width: 100%;
    font-size: 1rem;
}

input[type="submit"],
input[type="reset"] {
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 1rem;
    width: 48%;
    cursor: pointer;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
}

input[type="reset"] {
    background-color: #dc3545;
    color: white;
    border: none;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    opacity: 0.8;
}

/* Estilo para os erros de senha */
#erroSenha {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 15px;
}